.DS_Store
node_modules/
dist/
build/
.auth/
.pai/
.swc/
.idea/
.vscode/
.env
.env.*
!.env.example
project.private.config.json
cloudfunctions/**/secret.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
